* {
  margin: 0;
  box-sizing: border-box;
}

.cancel svg {
  font-size: 16px;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-28px);
  transition: 0.3s ease;
}

.modal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
}


.inp {
  position: relative;
  margin: auto;
  width: 100%;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  background-color: #EAEDEF;
  border-radius: 25px;
}

.inp .label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
  opacity: 0.6;
}

.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.inp input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 20px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: #EAEDEF;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(var(--dark), 0.04);
  box-shadow: inset 0 -1px 0 rgba(var(--dark), 0.5);
}

.inp input:not(:placeholder-shown)+.label {
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
  background: rgba(var(--dark), 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 var(--primary);
}

.inp input:focus+.label {
  color: var(--primary);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus+.label+.focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}


.spinner {
  font-size: 18px;
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.spinner.center {
  font-size: 35px;
  display: grid;
  margin: 35px auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

.styled-scrollbars::-webkit-scrollbar {
  width: 5px;
}

.styled-scrollbars:hover::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #cccccc;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}

.styled-scrollbars::-webkit-scrollbar-track {
  background-color: transparent;
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #D93A00;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #D93A00;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 50%;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 21px;
  padding: 11px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 27, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}



input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.agreement p {
  margin: 3px 0px;
  color: #1a1a1b;
  cursor: pointer;
}

.pages {
  min-height: 100vh;
  padding: 3.5rem 5rem 0rem 5rem;
  background-color: #dae0e6;
  height: auto;
  width: 100%;
}

.styleAvtar {
  background: linear-gradient(90deg, rgb(236, 6, 35), rgb(255, 135, 23));
}

.cbx {
  -webkit-perspective: 20;
  perspective: 20;
  /* margin: -12px; */
  border: 2px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cbx:hover {
  border-color: #0b76ef;
}

.flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 20px;
  height: 20px;
}

#cbx {
  display: none;
}

#cbx:checked+.cbx {
  border-color: #0b76ef;
}

#cbx:checked+.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.front {
  background: #fff;
  z-index: 1;
}

.back {
  transform: rotateY(180deg);
  background: #0b76ef;
  text-align: center;
  color: #fff;
  line-height: 20px;
  box-shadow: 0 0 0 1px #0b76ef;
}

.back svg {
  margin-top: 3px;
  fill: none;
}

.back svg path {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.dark-mode-img {
  filter: brightness(0) invert(1);
}

.popup {
  transition: padding .3s;
}

.popup::before {
  background-color: #24A0ED;
  border: 1px solid #24A0ED;
  border-radius: 4px 0px 0px 4px;
  content: "";
  height: 100%;
  left: 0;
  /* margin: -1px; */
  position: absolute;
  top: 0;
  width: 8px;
  transition: width .3s;
}

.popup:hover::before {
  width: 24px;
}

.popup .closeIcon {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: 0px;
  transition: opacity .3s;
}

.popup .closeIcon>svg {
  font-size: 1.5rem;
}

.popup:hover .closeIcon {
  opacity: 1;
}

.premium-bg-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%), url("https://www.redditstatic.com/desktop2x/img/gold/premium-marketing/premiumHero.jpg");
  box-sizing: border-box;
  padding-top: 100px;
  min-height: 544px;
  background-repeat: no-repeat;
  background-color: #0c3744;
  background-size: auto 100%;
  background-position: 100% 100%;
  color: #fff;
  background-position: 30% bottom;
  width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #EAEDEF inset !important;
}